doctype
html(lang="zh-CN")
    meta(charset="UTF-8")
    head
        link(href="/css/index.min.css" type="text/css" rel="stylesheet")
    body
        h1 haha5
        p haha955456755555
            button(type="button", id="getData") 获取数据
        script(type="text/javascript" src="/scripts/helloworld.js")