extends ./includes/header.pug
block content
    header.header
        .header-container
            .logo
                a(href="#") KoaMusic
            nav.nav
                a.active(href="#") 首页
                a(href="#") 发现音乐
                a(href="#") 我的音乐
                a(href="#") 首页
            .header-r
                .search.iconfont.icon-search
                    input(type="text", placeholder="发现音乐")
                dl.header-user
                    dt 
                        if userInfo && userInfo.icon
                            img(src=userInfo.icon)
                        else
                            img(src="./images/icon-head-default.png")
                    dd
                        if userInfo
                            a(href="#") #{userInfo && userInfo.username}
                            a(href="/logout") 退出登录
                        else
                            a(href="/register") 注册账号
                            a(href="/login") 登录账号

    .banner
        ul
            li
                a(href="#")
                    img(src="./images/banner.jpg")
                    