extends ./includes/header.pug
block content
	h1 haha5
		p haha955456755555999878248995
			button(type="button", id="getData") 获取数据
		script(type="text/javascript" src="/frontend/scripts/helloworld.js")