doctype
html
    head
        link(href='/css/index.min.css' type='text/css' rel='stylesheet')
        script(type='text/javascript' src='/scripts/helloworld.min.js')
    body
        h1 haha5
        p haha