extends ./includes/header.pug
block content
    if type === 0
        .sign-body.register-body
            .layui-container.sign-container
                h5.sign-title 会员注册
                form.layui-form.sign-form#form(action="/admin/register", method="post")
                    .layui-form-item
                        label.layui-form-label.sign-label 用户头像
                        .layui-input-block
                            .sign-upload
                                input.sign-file(type="file", name="imgs", id="userIcon")
                                input(type="hidden", name="icon", id="userIconPath")
                                button.layui-btn.layui-btn-normal(type="button" id="uploadBtn") 上传头像
                                .layui-upload-list
                                    img.sign-head-icon(src="", id="uploadImgThumb")
                    .layui-form-item.sign-item
                        label.layui-form-label.iconfont.icon-user 用户名称
                        .layui-input-block
                            input.layui-input(type="text", name='username', placeholder='请输入用户名', id="userName")
                    .layui-form-item.sign-item
                        label.layui-form-label.iconfont.icon-shouji 手机号码
                        .layui-input-block
                            input.layui-input(type="text", name='tel', placeholder='请输入手机号码', id="userTel")
                    .layui-form-item.sign-item
                        label.layui-form-label.iconfont.icon-mima 用户密码
                        .layui-input-block
                            input.layui-input(type="password", name='password', placeholder='请输入密码', id="userPwd")
                    .layui-form-item.sign-item
                        label.layui-form-label.iconfont.icon-mima 确认密码
                        .layui-input-block
                            input.layui-input(type="password", name='repassword', placeholder='请输入确认密码' id="userPwd2")
                    .sign-url 已有账号？
                        a(href="/login") 点击这里 前往登录
                    .layui-form-item.sign-btn-group
                        a.layui-btn.layui-btn-normal#submit 提交
    else
        .sign-body.login-body
            .layui-container.sign-container
                h5.sign-title 会员登录
                form.layui-form.sign-form#form(action="/admin/login", method="post")
                    .layui-form-item.sign-item
                        label.layui-form-label.iconfont.icon-user 用户名
                        .layui-input-block
                            input.layui-input(type="text", name='username', placeholder='请输入用户名或者手机号', id="userName")
                    .layui-form-item.sign-item
                        label.layui-form-label.iconfont.icon-mima 密码
                        .layui-input-block
                            input.layui-input(type="password", name='password', placeholder='请输入密码', id="userPwd")
                    .sign-url 没有账号？
                        a(href="/register") 点击这里 前往注册
                    .layui-form-item.sign-btn-group
                        a.layui-btn.layui-btn-normal#loginSubmit 提交
    script(src="frontend/scripts/sign.js", type="text/javascript")