.sign-body{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../images/sign-bg1.jpg') no-repeat center;
    background-size: cover;
    .sign-container{
        padding-top: 20px;
        width: 800px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -400px;
        margin-top: -244px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .4);
        .layui-elem-field{
            padding: 0 20px;
        }
        .sign-form{
            margin-top: 20px;
            .sign-upload{
                width: 92px;
                position: relative;
                input[type=file]{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 92px;
                    height: 38px;
                    opacity: 0;
                }
            }
            .sign-head-icon{
                width: 92px;
                height: 92px;
            }
            .sign-btn-group{
                text-align: center;
            }
        }
    }
}