link(href='/libs/layui/dist/css/layui.css', rel='stylesheet')
link(href='/frontend/css/admin.index.min.css', rel='stylesheet')
link(href='/libs/iconfont/iconfont.css', rel='stylesheet')
script(src='/libs/layui/dist/layui.js', type='text/javascript')