extends ./includes/header.pug
block content
    .admin-top
        .admin-top-left
            h1.iconfont.icon-music Music Admin
        .admin-top-right
            dl.admin-user
                dt
                    span #{userInfo.username}
                    img(src=userInfo.icon)
                dd
                    p.iconfont.icon-cd_icon 歌曲收藏数量
                        span 31
                    a.iconfont.icon-logout(href="/logout") 退出登录
    .admin-left
        ul
            li.iconfont.icon-list(data-url='/admin/list') 网易歌单管理
            li.iconfont.icon-list1(data-url='/admin/diylist') 自建歌单管理
    .admin-right
        iframe(src="", id="iframe")
    script(type="text/javascript", src="frontend/scripts/admin.index.js")