extends ./includes/header.pug
block content
	.container
		ul.layui-row.layui-col-space10.main-count-block
			li.layui-col-xs3
				div
					span.iconfont.icon-551488821353490553221
					p 网易云音乐歌单数
					strong=wyMusicCount
			li.layui-col-xs3
				div
					span.iconfont.icon-zijianpaichangguanli
					p 自建歌单数
					strong 100
			li.layui-col-xs3
				div
					span.iconfont.icon-shoucang
					p 收藏歌单数
					strong 100
			li.layui-col-xs3
				div
					span
					p 网易云音乐歌单数
					strong 100